@import "../../utilities/variables.scss";

.nav-bar {
  background-color: $lightGrey;
  &-icon {
    font-size: 25px;
  }
  &-brand {
    width: 15%;
  }
  &-profileimg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
