@import "../../utilities/variables.scss";

.sidebar {
  height: 100vh;
  background-color: $lightGrey;
  display: table-cell;
  width: 15%;
  vertical-align: top;
  &-icon {
    font-size: 30px;
  }
}
