@import "../../../utilities/variables.scss";

.card {
  &-heading {
    font-weight: 500;
    font-size: 25px;
  }
  &-view {
    border-top: 2px solid $lightGreen;
  }
  &-dots {
    color: $slightDarkGray;
  }
  &-button {
    background-color: $slightDarkGray;
    color: black;
    border: none;
    &:hover {
      background-color: grey;
      color: white;
    }
  }
}
